@import "./components/header.css";
@import "./components//main.css";
@import "./components/content_chat.css";
@import "./components/input.css";

html,
body {
    margin: 0px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(
        to bottom,
        #122b3b,
        #113243,
        #103a4b,
        #0d4153,
        #08495b,
        #055061,
        #025867,
        #005f6d,
        #006773,
        #007078,
        #00787c,
        #00817f
    );
}
* {
    box-sizing: border-box;
}