.main__content__chat {
    margin: 0 3rem;
}
.main__content__chat__message {
    background-color: #c5f5ff;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0.75rem;
    width: 50%;
    list-style: none;
}
.main__content__chat__message li {
    line-height: 2rem;
}
.main__content__chat__user {
    margin: 0;
}
.main__content__chat--input {
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
}
.main__content__chat-sender {
    margin: 0 3rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.main__content__chat-sender__message {
    background-color: #71ebe9;
    float: right;
    text-align: -webkit-right;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0.75rem;
    width: 50%;
}
.main__content__chat-sender__user {
    text-align: -webkit-right;
    margin: 0;
}